body{
    background-color: #c0b29c;
    color: #1f2421;

    padding: 10px;
    margin: 10px;

    
}

.title{
    font-family: fantasy;
    text-align: center;
    color: rgb(119, 26, 26);
    background-color: cornsilk;
}

.form-item{
    text-align: center;
    background-color: #c5b59c;
    color: #1f2421;

    padding: 10px;
    margin: 10px;
}

.button1{
    border: 1px solid #d11616;
    text-align: left;
    background: none;
    padding: 10px 20px;
    font-size: large;
    cursor; pointer;
    margin: 10px;
    transition: 0.9s;
}
.button1:hover{
    color: #d11616;
    background: rgb(24, 9, 9);
}

.party-list{
    background: #e9dbb5;
    font-weight: bolder;
    font-family: fantasy;
    color: crimson;
}

.primary{
    color: rgb(24, 9, 9);
    font-size: x-large;
    font-weight: bold;
    font-family: fantasy;
}

div.dice{
    float:left;
    width:64px
    background: #f5f5f5;
    border:#999 3px solid;
    padding: 10px;
    font-size:24px;
    text-align:center;
    margin:5px;
}